body {
    height: 100%;
    font-size: 16px;

    /* 禁止选择文本 */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

a {
    outline: none;
    text-decoration: none;
    color: cornflowerblue;
}

.item {
    height: 38px;
    text-align: left;
    line-height: 38px;
    margin-top: 5px;
    padding-left: 10px;
    background-color: #f5f5f5;
    border: 1px solid #323232;
    border-left-width: 5px;
}

.item:active {
    height: 38px;
    text-align: left;
    line-height: 38px;
    margin-top: 5px;
    padding-left: 10px;
    background-color: #ffffff;
    border: 1px solid #583fe9;
    border-left-width: 5px;
}

.buttons {
    text-align: center;
}

input {
    width: 97%;
    height: 32px;
    margin-top: 5px;
    line-height: 32px;
    outline: none;
    display: inline-block;
}

button {
    height: 32px;
    width: 96px;
    margin-top: 6px;
    margin-left: 3px;
    text-align: center;
    background-color: #f6f8fa;
    color: #24292f;
    border: 1px solid;
    border-radius: 6px;
    border-color: rgba(27, 31, 36, 0.15);
}

table {
    width: 90%;
    border-collapse: collapse;
    border-spacing: 0;
}

td,
th {
    padding: 0;
}

.pure-table {
    border-collapse: collapse;
    border-spacing: 0;
    empty-cells: show;
    border: 1px solid #cbcbcb;
}

.pure-table caption {
    color: #000;
    font: italic 85%/1 arial, sans-serif;
    padding: 1em 0;
    text-align: center;
}

.pure-table td,
.pure-table th {
    border-left: 1px solid #cbcbcb;
    border-width: 0 0 0 1px;
    font-size: inherit;
    margin: 0;
    overflow: visible;
    padding: .5em 1em;
}

.pure-table thead {
    background-color: #e0e0e0;
    color: #000;
    text-align: left;
    vertical-align: bottom;
}

.pure-table td {
    background-color: transparent;
}

.pure-table-odd td {
    background-color: #f2f2f2;
}
